.form-admin {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.desc{
    width: 65%;
    margin: auto;
}

.submit{
    margin: 14px auto 0px;
    width: 65%; 
}

.form-admin .right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}

.form-admin .left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}

