.card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 20px 20px 20px;
    height: 100%;
    background: #fff;
    transition: all .4s ease-in-out;
    border-radius: 10px;
}

.card-img{

}
.card-img img{
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
    height: 200px;
}

.card:hover {
    background-color: var(--asset-color);
    color: white !important;
}

.card:hover h3 {
    transition: all .4s ease-in-out;
}

.card:hover h3,
svg {
    color: white !important;
}

.card-section-header h2 {
    font-size: 36px;
}

.card-details h3 {
    font-size: 18px;
}

.card-details p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}

.btn-container{
    display: flex;
    gap: 10px;
}