.admin-btn{
    padding: 5px 7px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
.red{
    background-color: red;
    color: white;
}

.white{
    border: 1px solid gray;
    background-color: #fff ;
}

.green{
    background-color: green;
    color: white;
}
